<ngx-spinner></ngx-spinner>
<div class="login_div">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" placeholder="email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" id="passwordInput" />
              <span *ngIf="passwordVisible" (click)="toggleVisibility()"><i nz-icon nzType="eye" nzTheme="outline"></i></span>
              <span *ngIf="!passwordVisible" (click)="toggleVisibility()"><i nz-icon nzType="eye-invisible" nzTheme="outline"></i></span>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        Or
        <a [routerLink]="['../register']">register now!</a>
    </form>
</div>