<ngx-spinner></ngx-spinner>
<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">Token Expires: {{tokenExpiration | date: 'dd-MM-yyyy h:mm:ss'}}</div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item [routerLink]="['/home']" [queryParams]="{ pageTitle: 'Home' }">
            <i nz-icon nzType="home"></i>
            <span>Home</span>
        </li>
          <li nz-menu-item [routerLink]="['/my-account']" [queryParams]="{ pageTitle: 'My-Account' }">
              <i nz-icon nzType="user"></i>
              <span>My Account</span>
          </li>
          <li nz-submenu nzTitle="User" nzIcon="team">
            <ul>
              <li nz-menu-item [routerLink]="['/new-user']" [queryParams]="{ pageTitle: 'New User' }">New User</li>
              <li nz-menu-item [routerLink]="['/users']" [queryParams]="{ pageTitle: 'Users' }">Users</li>
            </ul>
          </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>Page</nz-breadcrumb-item>
          <nz-breadcrumb-item>{{pageTitle}}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <div>
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <!-- <th>ID</th> -->
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <!-- <td>{{ user.id }}</td> -->
                    <td routerLink="/user/{{ user.id }}">{{ user.email }}</td>
                    <td routerLink="/user/{{ user.id }}">{{ user.first_name }}</td>
                    <td routerLink="/user/{{ user.id }}">{{ user.last_name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>